body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background: #ebebeb url("/images/gradient.jpg") repeat-x left top;
}

div {
    padding:0;
    margin:0;
}

p {
    margin: 0 0 8px 0;
    line-height: 140%;
}

#output pre {
    border: 2px solid gray;
    display: block;
    background-color: #F5F5DC;
    padding: 5px 10px;
}

code {
    font-family: "Courier New", Courier, monospace;
}

a {
    color: #444;
}

a:visited {
    color: #888;
}

a:hover {
    color: #000;
}

li {
    line-height: 120%;
    margin-bottom: 8px;
}

#output table {
    border-collapse: collapse;
    border: 1px solid #36362E;
    margin: 0 0 8px 0;
}

#output th {
    border: 1px solid #36362E;
    padding: 5px;
    text-style: bold;
    color: white;
    background-color: #69695A;
    text-align: center;
}

#output td {
    border: 1px solid #36362E;
    padding: 5px;
    background-color: #F5F5DC;
}

#page {
    width: 900px;
    margin: auto;
}

#page-heading {
    border-bottom: 2px solid black;
    padding-bottom: 4px;
    position: relative;
    width: 100%;
}

span.menu-bar {
    position: absolute;
    display: block;
    bottom: 3px;
    right: 0;
    color: gray;
    font-size: 0.5em;
    text-align: right;
}

#inputBlock {
    display: none;
}

textarea {
    font-family: "Courier New", Courier, monospace;
    font-size: inherit;
    width: 100%;
}

#footer {
    margin-top: 10px;
    text-align:center;
}
